<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" media="screen" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>

    {% for css in encore_entry_css_files('css') %}
        <link rel="stylesheet" href="{{ preload(asset(css), { as: 'style' }) }}">
    {% endfor %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% for js in encore_entry_js_files('app') %}
        <script src="{{ preload(asset(js)) }}" type="text/javascript" defer="defer"></script>
    {% endfor %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
